<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/authView/style/signUp.css"/>
  <script type='module' src="/static/authView/scripts/signUp.js"></script>
  <title>Register</title>
</head>
<body>
  <div class="container">
    <div>
    <h2>Sign Up</h2>
    </div>
    <div>
    <form id='sign-up-form'>
      <label for="name">Username:</label>
      <input type="text" id="username" name="name" required>

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
      <button type="submit">Sign Up</button>
    </form>
    </div>
    <div>
    <a href="/">return to login</a>
    </div>
  </div>
</body>
</html>
